/*Header styling*/
#header{
    background-color: aqua;
    margin-top: -1%;
    margin-left: -1%;
    height: 300px;
    margin-right: -1%;
    position: static;
    min-width: 800px;
}

/*Positioning for Header image*/
#headerImg{
    margin: 0%;
    height: 300px;
    position: static;
    clear: right;
}

/*"Rochelle Markham" header styling*/
h1{
    font-family: 'Montez', cursive;
    display: block;
    clear: right;
    margin-top: -25%;
    margin-left: 12%;
    font-size: 400%;
    margin-left: 170px;
}

/*"Web Developer" header styling*/
h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-left: 200px;
    margin-top: -50px;
}

/*Social media link styling*/
#facebook, #pinterest, #instagram, #twitter{
    height: 50px;
    float: right;
    padding: 10px;
    margin-top: 15px;
}

/*social media positioning from the right*/
#pinterest{
    margin-right: 8%;
}

/*social media hover glow*/
#facebook:hover, #pinterest:hover, #instagram:hover, #twitter:hover{
    box-shadow: 3px 3px 3px darkcyan;
}

/*navigation list styling*/
ul{
    list-style-type: none !important;
    font-family: 'Heebo', sans-serif;
    color: black;
    display: inline;
    font-size: 150% ;
}

/*navigation list positioning*/
li{
    float: left;
    margin-left: 12%;
}

/*navigation link styling*/
li a{
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    font-weight: 500;
}

/*navigation link positioning for rest/diagrams pages*/
#home{
    padding-left: 80px;
}

/*navigation link positioning for first link on index page*/
#aboutMain{
    padding-left: 80px;
}

/*link hover glow*/
a:hover{
    color: white;
    text-shadow: 2px 2px 4px black;
    list-style-type: none;
    font-weight: 500;
}

/*visited links styling*/
a:visited{
    text-decoration: none;
}

/*body background styling*/
body{
    background-image: linear-gradient(to bottom right, white, rgba(0,255,255,.5));
    min-width: 920px;
}

/*Body headings styling*/
h3{
    font-family: 'Heebo', sans-serif;
    margin-left: -7%;
    font-size: 45px; 
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 15px;
    margin-right: 10%;
    clear: right;
    padding-left: 10%;
    position: static;
    z-index: 1;
}

/*About me section photo styling*/
#headshot{
    height: 400px;
    float: right;
    display: inline;
    margin-top: -100px;
    margin-right: 50px;
    margin-left: 25px;
    box-shadow: 5px 5px 5px grey;
    clear: both;
    position: static;
    z-index: 1
} 

/*paragraph styling*/
p{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
}

/*about me section paragraph spacing*/
.about{
    margin-left: 5%;
}

/*Gallery image/link styling*/
figure{
    float: left;
    width: 400px;
    position: flex;
    color: black; 
    margin: 25px;
    display: inline;
    font-weight: 500;
    text-align: center;
}

/*Gallery image/link hover styling*/
figure:hover{
    color: white;
    text-shadow: 2px 2px 4px black;
}

/*gallery image shadow/positioning*/
.gallery{
    box-shadow: 5px 5px 5px grey;
}

/*All modal styling/positioning*/
.modal{
	position: fixed;
	font-family: 'Heebo', sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	opacity:0;
	pointer-events: none;
    background: rgba(255, 255, 255, .7);
}

/*all modal styling/functionality*/
.modal:target{
	opacity: 1;
	pointer-events: auto;
}

/*modal background styling*/
.modal > div{
    background: rgb(228, 232, 235);
    position: relative;
	margin: 1% auto;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;   
}

/*Diagram modal styling*/
#Modal1 > div {
    width: 550px;
}

#Modal3 > div {
    width: 410px;
}

#Modal5 > div, #Modal7 > div, #Modal9 > div, #Modal11 > div, #Modal17 > div, #Modal19 > div, #Modal21 > div {
    width: 600px;    
}

#Modal13 > div {
    width: 1030px;
}

#Modal15 > div {
    width: 288px;
}

/*Video modal styling*/
#Modal2 > div, #Modal4 > div, #Modal6 > div, #Modal8 > div, #Modal10 > div, #Modal12 > div, #Modal14 > div, #Modal16 > div, #Modal18 > div, #Modal20 > div, #Modal22 > div, #Modal24 > div, #Modal26 > div {
    width: 1000px;
}

/*modal X-close box styling*/
.close {
	background: grey;
	color: white;
	position: absolute;
	right: -12px;
	top: -10px;
	width: 24px;
	text-decoration: none;
    text-align: center;
	font-weight: bold;
	border-radius: 3px;
}
